@font-face {
    font-family: 'Amertha PERSONAL USE ONLY';
    src: url(../estilos/Amertha_PERSONAL_USE_ONLY.ttf);
}

body{
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}

.header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(255, 241, 235, 0.5) 0%, rgba(172, 225, 249, 0.5) 100%), url("https://images.pexels.com/photos/5668863/pexels-photo-5668863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    position: relative;
}

.tittle{
    font-family: 'Amertha PERSONAL USE ONLY';
    font-size: 65px;
    margin-bottom: 35px;
}

.brand{
    font-family: 'Amertha PERSONAL USE ONLY';
    font-size: 40px;
    border: 0px;
}

.sub{
    font-weight: 300;
    font-size: 22px;
}

.information{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
}

.text{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 110px;
}

.arrow{
    height: 50%;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.arrow i{
    font-size: 40px;
    animation: movimiento cubic-bezier(0.95, 0.05, 0.795, 0.035) .8s infinite alternate;
    color: #000;
    transition: .2s ease all;
}

.arrow a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
    transition: .4s ease font-size;
}

.arrow a:hover{
    font-size: 1.5rem;
    color: #EC524B;
}

@keyframes movimiento {
    0%{
        transform: translateY(-80%);
    }
    100%{
        transform: translateY(0%);
    }
}

.hamburguer{
    position: fixed;
    top: 30px;
    left: 30px;
    width: 35px;
    height: 25px;
    cursor: pointer;
}
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vh;
    background: rgba(98, 112, 221, 0.555);
    transition: transform .3s ease-in-out; 
    transform: translate(150%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); 
}

.show{
    transform: translate(0);
}
.close{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 25px;
    cursor: pointer;
}
.close:hover{
    width: 37px;
    height: 27px;
    color: #fff;
}
.navbar ul{
    height: 100%;
    padding: 0 50px;
    border-left: 1px solid #ccc;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.navbar ul li{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: #ccc solid 1px;
    padding-bottom: 20px;
}
.navbar ul li:last-child,.navbar ul li:first-child {
    border-bottom: 0;
}
.navbar ul li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar ul li a:hover{
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
}
.navbar ul a i{
    font-size: 25px;
    margin-right: 10px;
    color:#EC524B;
}
.users {
    position: absolute;
    bottom: 0;
    display: inline-block;
    margin-left: 20px;
}

.users .users__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    gap: 15px;
}

.users__list .users__user {
    border-radius: 50%;
}

.users__user .user__info {
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(98, 112, 221, 1);
    color: white;
    padding: 10px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    width: 0;
    transition: .4s ease all;
    position: absolute;
    bottom: 110%;
}

.users__user .user__info::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 8px;
    border-color: rgba(98, 112, 221, 1) transparent transparent transparent;
    border-style: solid;
    position: absolute;
    top: 100%;
    left: 42px;
}

.users__user:hover .user__info {
    opacity: 1;
    width: 100%;
}

.users__user .user__info span:first-child {
    color: black;
    font-weight: 900;
}

.users__user .user__info span:last-child {
    color: black;
    font-weight: 500;
}


.users__user .user__image {
    width: 100px;
    min-width: 60px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

main{
    width: 90%;
    margin: 0 auto;
}
.sp1{
    height: 100vh;
    font-family:'Amertha PERSONAL USE ONLY' ;
    font-size: 25px;
    padding-top: 40px;
}



